
<h3><%= @subject.name %></h3>
_______________________________________________
<br>
<br>
<br>
<br>
<br>
<br>

<ul>
</ul>

<ul>
  <% @subject.cards.each do |front| %>
    <li><%= card.front %></li>
  <% end %>
</ul>

_______________________________________________
