
_______________________________________________
<br>
<br>
<br>
<br>
<br>
<br>

<ul>
</ul>

<ul>
  <% @subject.cards.each do |c| %>
    <li> <%= c.front %> </li>
  <% end %>
</ul>

_______________________________________________
