<h2>Add a card</h2>
<br>
<%= form_tag subjects_path do %>

<%= collection_select(:subject_id, :name, Subject.all, :name, :name, {prompt: 'Select Subject'}) %>

<br>
<%= text_field_tag :name, "Or add a new subject", class: 'subject' %>
<%= submit_tag "Submit Subject" %>
<% end %>
<br>
