_______________________________________________
<ul>
  <% @cards.each do |c| %>
    <h2><a> <%= link_to "#{c.front}" %> </a>
    <div><%= "#{c.back}"  %></div></h2>
  <% end %>
</ul>
_______________________________________________
